.header {
  background-color: #ff5455;
  width: 200px;
  height: 200px;
}

.logo {
  background-image: url('../assets/codeup-logo-main.png');
  width: 250px;
  height: 100px;
  background-size: 200%;
  background-repeat: no-repeat;
}