.hero-banner {
  background-color: lightblue;
  width: 100vw;
  height: 300px;
}

.animated-bubble {
  background-color: gray;
  font-family: myFont;
  font-size: 30px;
  border-radius: 20px;
  width: 40vw;
  max-width: 700px;
  height: 60px;
}
