body {
  display: flex;
  flex-direction: column;
  align-items: center;
  // overflow-y: scroll;
  scroll-behavior: smooth;
}



.hero-banner {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 90vw;
  height: 300px;
  // border: 1px solid red;
  border-radius: 5px;
  padding-top: 20px;
}

.animated-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  font-size: 30px;
  border-radius: 40px;
  // width: 40vw;
  min-width: 575px;
  max-width: 700px;
  height: 65px;
}

.bubble-text {
  font-family: myFont;
}

.slogan {
  font-family: myFont;
  font-size: 17px;
  padding: 20px;
}

.collab-logo {
  background-image: url('../assets/collab-logo.png');
  height: 100px;
  width: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 20px;
}
