.main-content-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;

}

.all-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 850px;
}

.all-tiles > div {
  border: 1px solid red;
  width: 400px;
  height: 400px;
}


.tile-title {
  font-family: myFont;
  font-weight: bold;
  color: white;
  font-size: 37px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.tile-text {
  font-family: myFont;
  font-size: 18px;
  width: 70%;
  text-align: center;
  color: white;
}
.tile-1a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.just-ask-google {
  background-image: url(../assets/just-ask-google.png);
  width: 300px;
  height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}


.tile-1b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #547dbf;
  color: white;
}

.tile-2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ea4435;
}

.tile-3b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9bc15;
}

.tile-4a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #34a851;
}
