.main-content-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  // border: 1px solid red;
  background: white;
  border-radius: 7px;
  margin: 7px 0 7px 0;
      -webkit-box-shadow: 0px 0px 14px 0px rgba(135,135,135,1);
-moz-box-shadow: 0px 0px 14px 0px rgba(135,135,135,1);
box-shadow: 0px 0px 14px 0px rgba(135,135,135,1);
}

.all-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 810px;
  // background: #ea4435;
}

.all-tiles > div {
  // border: 1px solid red;
  width: 403px;
  height: 403px;
}


.tile-title {
  font-family: myFont;
  font-weight: bold;
  color: white;
  font-size: 37px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.tile-text {
  font-family: myFont;
  font-size: 18px;
  width: 70%;
  text-align: center;
  color: white;
}
.tile-1a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.just-ask-google {
  background-image: url(../assets/just-ask-google.png);
  width: 300px;
  height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
}


.tile-1b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #547dbf;
  color: white;
}

.tile-2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ea4435;
}

.tile-2b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.subjects {
  background-image: url(../assets/subjects.png);
  width: 300px;
  height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 160px;
}

.tile-3a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.practice {
  background-image: url(../assets/practice.png);
  width: 300px;
  height: 350px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 75px;
}

.tile-3b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9bc15;
}

.tile-4a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #34a851;
}

.tile-4b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.demo {
  background-image: url(../assets/demo.png);
  width: 200px;
  height: 350px;
  background-size: 80%;
  background-repeat: no-repeat;
  margin-top: 30px;
  // background: #ea4435
  align-self: center;
}


.demo-button-round {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  // height: 100px;
  // width: 100px;
  // background: #34a851;
  // border-radius: 100px;
  // background: red;
  // margin-top: 50px;
}

.demo-button {
  color: white;
  font-family: myFont;
  background: #34a851;
  height: 40px;
  width: 40px;
  padding: 42px 30px 42px 30px;
  // margin-top: 100px;
  border-radius: 50%;
  // background: red;
  -webkit-box-shadow: 0px 13px 59px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 59px -12px rgba(0,0,0,0.75);
box-shadow: 0px 13px 59px -12px rgba(0,0,0,0.75);
    transition: 0.3s;

}

.demo-button:hover {
color: white;
    text-shadow: 0px 0px 5px white;
  -webkit-box-shadow: 0px 13px 71px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 71px -5px rgba(0,0,0,0.75);
box-shadow: 0px 13px 71px -5px rgba(0,0,0,0.75);
    transition: 0.3s;

}

.demo-button:active {
color: white;
    // text-shadow: 0px 0px 3px white;
  -webkit-box-shadow: 0px 13px 67px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 67px -20px rgba(0,0,0,0.75);
box-shadow: 0px 13px 67px -20px rgba(0,0,0,0.75);
    transition: 0.3s;

}
