.header {
  background-color: #ff5455;
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  background-image: url("../assets/codeup-logo-main.png");
  width: 280px;
  height: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 280px; }

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  min-width: 200px;
  margin-right: 50px; }
  .nav-links a {
    padding: 20px;
    font-family: 'myFont';
    font-size: 18px;
    color: white; }
